/* estilos de los productos */
body {
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* CONTENIDO EN DOS COLUMNAS */
.contenido {
  display: flex;
  gap: 30px;
}

/* FORMULARIO */
.formulario {
  width: 40%;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* LISTADO */
.listado {
  width: 60%;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
}

.listado ul {
  list-style: none;
  padding: 0;
}

.listado li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2c3e50;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr {
  background: white;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background: #f1f1f1;
}

td button {
  background: #e74c3c;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}




/* BOTÓN LOGOUT */
.logout {
  background: #e74c3c;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  float: right;
}
